/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

/* NAVIGATION BAR*/
.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(128, 128, 128, 0.671);
  z-index: 3;
}
.navbar__brand {
  margin-left: 30px;
  height: 100%;
  width: 80px;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 30px;
  gap: 2rem;
}
.nav-item a {
  color: black;
  font-size: 1.2rem;
}
.nav-item a:hover {
  border-bottom: 2.5px solid crimson;
  color: crimson;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

/* MOBILE MENU & ANIMATION */
.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}
.menu-toggle:hover {
  cursor: pointer;
}
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: crimson;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 720px) {
  /* MOBILE NAVIGATION */
  .navbar {
    z-index: 4;
    justify-content: space-between;
  }
  .navbar ul {
    width: 100%;
    height: 310px;
    top: 70px;
    padding-top: 20px;
    padding-left: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.3rem;
    background-color: white;
    transform: translate(-101%);
    overflow: hidden;
    box-shadow: 1px 2px 5px rgba(128, 128, 128, 0.671);
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li a {
    font-size: 1.2rem;
    color: black;
  }
  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
    order: 1;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
}
/*FRONTPAGE*/
.frontPage {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/frontPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.frontPage::before {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.frontPage__title {
  z-index: 3;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 80px;
  color: white;
  text-align: center;
}

@media (min-width: 440px) {
  .frontPage__title {
    font-size: 3.5rem;
  }
}
.card {
  width: 200px;
  height: 270px;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 2s;
}

.front-one {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://w0.peakpx.com/wallpaper/976/492/HD-wallpaper-wedding-day-mcouple-bouquet-rose-love-flower-marriage-white-wedding.jpg");
}
.front-one__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
}

.front-two {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://i.pinimg.com/474x/d2/21/e2/d221e2dcb620f62036c958c36eeb72db.jpg");
}
.front-two__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
}

.front-three {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://i.pinimg.com/1200x/f3/74/29/f37429fc43282d521cdef72326da16b1.jpg");
}
.front-three__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
}

.front-four {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://1.bp.blogspot.com/-qmNMoGSWuic/X4kDiWRPTEI/AAAAAAABRZA/rdjm39GlSZEH0oFb1zvAYW7yMeR2dWoCwCLcBGAsYHQ/s0/9d571ccbf52f876998b4f5da6c6e26ff.jpg");
}
.front-four__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
}

.front-five {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://i.pinimg.com/originals/ba/48/38/ba48383d7ef0bef2f78e10fea582024c.jpg");
}
.front-five__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
}

.front-six {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  backface-visibility: hidden;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/801/855/desktop-wallpaper-private-event-management-corporate-event.jpg");
}
.front-six__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  color: crimson;
  text-align: center;
  font-size: 1.5rem;
  font-size: 1.4rem;
}

.back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  background: rgb(211, 82, 108);
  color: white;
  transform: rotateY(180deg);
}
.back__text {
  margin-top: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.line {
  height: 3px;
  width: 50px;
  background-color: crimson;
  margin-bottom: 30px;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.presentation-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: crimson;
}
.presentation-container__text {
  width: 360px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.work-container {
  background-color: #ffe8cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.work-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: crimson;
}
.work-container__text {
  width: 360px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.way-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.way-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: crimson;
  width: 300px;
  font-size: 1.5rem;
}

.way-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.way-article__img {
  height: 70px;
  margin-top: 50px;
}
.way-article__title {
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 10px;
  color: crimson;
}
.way-article__text {
  width: 360px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.services-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  color: crimson;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/*# sourceMappingURL=style.css.map */
