@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Great+Vibes&display=swap");
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
}

body {
  font-family: "Great Vibes", cursive;
}

html, body {
  scroll-behavior: smooth;
}

/*--General Container--*/
@media (min-width: 1200px) {
  .general-container {
    max-width: 1300px;
    margin: auto;
  }
}
nav {
  position: fixed;
  z-index: 10;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.navScroll {
  border-bottom: 1px solid rgba(136, 136, 136, 0.247);
  box-shadow: 0 0 10px rgba(136, 136, 136, 0.247);
}

.logo {
  display: flex;
  gap: 1rem;
}
.logo img {
  width: 90px;
}
.logo:hover {
  border-bottom: none;
}

.navMobile {
  height: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 40px;
}

nav ul li a {
  color: white;
  font-size: 25px;
  padding: 7px 7px;
  letter-spacing: 4px;
}
nav ul li a:hover {
  border-bottom: 3px solid crimson;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 20px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  .navMobile {
    z-index: 100;
    position: fixed;
    width: 90%;
    height: 100vh;
    background: white;
    opacity: 0.95;
    top: 100px;
    left: -100%;
    padding-left: 100px;
    text-align: start;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    color: #252525 !important;
    font-size: 25px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/*FRONTPAGE*/
.frontPage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/frontPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.frontPage::before {
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.frontPage__title {
  z-index: 3;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 80px;
  color: white;
  text-align: center;
}

@media (min-width: 440px) {
  .frontPage__title {
    font-size: 3.5rem;
  }
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 360px;
  height: 240px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  max-width: 361px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(219, 59, 91);
}

.container:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 2.3rem;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  position: absolute;
  padding: 10px;
  top: 60px;
  left: 0;
}

.line {
  height: 3px;
  width: 50px;
  background-color: crimson;
  margin-bottom: 30px;
}

/*-PRESENTATION-*/
.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.presentation-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
}
.presentation-container__text {
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 800px;
}

/*-VIEW TABLET AND DESKTOP*/
@media (min-width: 930px) {
  .presentation-container {
    margin-bottom: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    grid-template-areas: "title title title title" "line line line line" "img img text text" "img img text text" "img img text text";
  }
  .presentation-container__title {
    grid-area: title;
  }
  .presentation-container .card {
    grid-area: img;
  }
  .presentation-container__text {
    grid-area: text;
    padding: 40px;
  }
  .presentation-container #line1 {
    grid-area: line;
  }
}
/*-WORK METHOD-*/
.work-container {
  background-color: #ffe8cd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.work-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
}
.work-container__text {
  font-size: 1.9rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 750px;
}

.way-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.way-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
}

.way-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.way-article__img {
  height: 70px;
  margin-top: 50px;
}
.way-article__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-top: 30px;
  color: crimson;
  letter-spacing: 0.4rem;
}
.way-article__text {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 263px;
}

/*-VIEW TABLET AND DESKTOP*/
@media (min-width: 720px) {
  .way-container {
    margin-bottom: 30px;
    display: grid;
    column-gap: 3rem;
    justify-items: center;
    align-items: start;
    grid-template-areas: "tit tit tit tit" "lin lin lin lin" "int int id id" "int int id id" "des des eve eve" "des des eve eve";
  }
  .way-container__title {
    grid-area: tit;
  }
  .way-container #interview {
    grid-area: int;
  }
  .way-container #idea {
    grid-area: id;
  }
  .way-container #desing {
    grid-area: des;
  }
  .way-container #event {
    grid-area: eve;
  }
  .way-container #line2 {
    grid-area: lin;
  }
}
@media (min-width: 1200px) {
  .way-container {
    display: grid;
    column-gap: 3rem;
    justify-items: center;
    align-items: start;
    grid-template-areas: "tit tit tit tit" "lin lin lin lin" "int id des eve" "int id des eve";
  }
  .way-container__title {
    grid-area: tit;
  }
  .way-container #interview {
    grid-area: int;
  }
  .way-container #idea {
    grid-area: id;
  }
  .way-container #desing {
    grid-area: des;
  }
  .way-container #event {
    grid-area: eve;
  }
  .way-container #line2 {
    grid-area: lin;
  }
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.services-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}

@media (min-width: 720px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
  }
}
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffe8cd;
  margin-bottom: 30px;
  padding: 20px;
}
.gallery-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gallery .gallery-section {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  max-height: 350px;
  position: relative;
  overflow: hidden;
}
.gallery .gallery-section__img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
.gallery .gallery-section__img:hover {
  filter: brightness(100%);
  transform: scale(1.1);
  transition: all ease-in-out 0.5s;
}

@media (min-width: 720px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .gallery #last {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  .gallery #last {
    grid-column: 3;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
}
.contact-container::before {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.contact-container__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
  color: crimson;
  color: white;
  margin-top: -10px;
  z-index: 3;
}
.contact-container .whatsapp {
  z-index: 5;
  position: sticky;
  top: 500px;
  align-self: flex-end;
}
.contact-container .whatsapp__img {
  width: 60px;
}

.contact-container .information-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.contact-container .information-list__link {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  z-index: 3;
}
.contact-container .information-list__img {
  width: 40px;
}
.contact-container .information-list__text {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.form-input__name {
  width: 300px;
  padding: 12px 20px 12px 40px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-bottom: 2px solid gainsboro;
  background-position: 6px 9px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: grey;
  background-image: url("../img/name.png");
}
.form-input__name:focus {
  border: none;
}

.form-input__phone {
  width: 300px;
  padding: 12px 20px 12px 40px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-bottom: 2px solid gainsboro;
  background-position: 6px 9px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: grey;
  background-image: url("../img/tel.png");
}
.form-input__phone:focus {
  border: none;
}

.form-input__email {
  width: 300px;
  padding: 12px 20px 12px 40px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-bottom: 2px solid gainsboro;
  background-position: 6px 9px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: grey;
  background-image: url("../img/email.png");
}
.form-input__email:focus {
  border: none;
}

.form-input__message {
  width: 300px;
  padding: 12px 20px 12px 40px;
  border: none;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-bottom: 2px solid gainsboro;
  background-position: 6px 9px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  color: grey;
  background-image: url("../img/message.png");
}
.form-input__message:focus {
  border: none;
}

.form {
  max-width: 440px;
  padding: 20px;
  background-color: white;
  z-index: 3;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.form-input__send {
  border: none;
  padding: 5px;
  width: 130px !important;
  height: 60px;
  border-radius: 50px;
  background-color: #116d30;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  cursor: pointer;
}
.form-input__send:hover {
  background-color: #2e7044;
  transition: ease 2s;
}

@media (min-width: 1200px) {
  .contact-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
  }
  .contact-container__title {
    grid-column: 1/5;
  }
  .contact-container .information-list {
    gap: 3rem;
    grid-column: 1/3;
  }
  .contact-container .information-list__img {
    width: 50px;
  }
  .contact-container .information-list__text {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }
  .contact-container .form {
    max-width: 600px;
    grid-column: 3/5;
  }
  .contact-container .form input,
  .contact-container .form textarea {
    width: 500px;
  }
  .contact-container .form #bottom {
    width: 200px;
  }
  .contact-container .whatsapp {
    grid-column: 5;
  }
}
.networks {
  margin-top: 10px;
  background-color: rgb(26, 26, 26);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.networks span {
  margin-top: -10px;
  background-color: white;
}
.networks__title {
  font-size: 2.4rem;
  color: white;
}
.networks__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}
.networks__links img {
  width: 50px;
  filter: invert(100%);
}
.networks__links img:hover {
  filter: invert(80%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  color: crimson;
  margin-bottom: 30px;
}
.card p {
  font-size: 1.3rem;
  color: gray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

/*# sourceMappingURL=style.css.map */
