@mixin title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    letter-spacing: .2rem;
    color: crimson;
}

@mixin text {
    font-size: 1.9rem;
    letter-spacing: .2rem;
    margin-bottom: 20px;
    padding: 10px;
}

@mixin container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    height: 3px;
    width: 50px;
    background-color: crimson;
    margin-bottom: 30px
}

/*-PRESENTATION-*/

.presentation-container {
    @include container();

    &__title {
        @include title();
    }

    &__text {
        @include text();
        max-width: 800px;
    }
}

/*-VIEW TABLET AND DESKTOP*/

@media (min-width:930px) {
    .presentation-container {
        margin-bottom: 30px;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        grid-template-areas:
            'title title title title'
            'line line line line'
            'img img text text'
            'img img text text'
            'img img text text';

        &__title {
            grid-area: title;
        }

        .card {
            grid-area: img;
        }

        &__text {
            grid-area: text;
            padding: 40px;
        }

        #line1 {
            grid-area: line;
        }
    }

}

/*-WORK METHOD-*/

.work-container {
    background-color: #ffe8cd;
    @include container();

    &__title {
        @include title();

    }

    &__text {
        @include text();
        max-width: 750px
    }
}

.way-container {
    @include container();

    &__title {
        @include title();
    }
}

.way-article {
    @include container();

    &__img {
        margin-top: 50px;
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: 20px;
        margin-top: 30px;
        color: crimson;
        letter-spacing: .4rem;
    }

    &__text {
        font-size: 1.5rem;
        letter-spacing: .2rem;
        margin-bottom: 20px;
        padding: 10px;
        max-width: 263px;
    }
}

/*-VIEW TABLET AND DESKTOP*/

@media (min-width:720px) {
    .way-container {
        margin-bottom: 30px;
        display: grid;
        column-gap: 3rem;
        justify-items: center;
        align-items: start;
        grid-template-areas:
            'tit tit tit tit'
            'lin lin lin lin'
            'int int id id'
            'int int id id'
            'des des eve eve'
            'des des eve eve';

        &__title {
            grid-area: tit;
        }

        #interview {
            grid-area: int;
        }

        #idea {
            grid-area: id;
        }

        #desing {
            grid-area: des;
        }

        #event {
            grid-area: eve;
        }

        #line2 {
            grid-area: lin;
        }
    }
}

@media (min-width:1200px) {
    .way-container {
        display: grid;
        column-gap: 3rem;
        justify-items: center;
        align-items: start;
        grid-template-areas:
            'tit tit tit tit'
            'lin lin lin lin'
            'int id des eve'
            'int id des eve';

        &__title {
            grid-area: tit;
        }

        #interview {
            grid-area: int;
        }

        #idea {
            grid-area: id;
        }

        #desing {
            grid-area: des;
        }

        #event {
            grid-area: eve;
        }

        #line2 {
            grid-area: lin;
        }
    }

}

.services-container {
    @include container();
    margin-bottom: 30px;

    &__title {
        @include title();
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 5rem;
}

@media (min-width:720px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem
    }
}

@media (min-width:1200px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5rem
    }
}

.gallery-container {
    @include container();
    background-color: #ffe8cd;
    margin-bottom: 30px;
    padding: 20px;

    &__title {
        @include title();
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .gallery-section {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        max-height: 600px;
        position: relative;

        &__img {
            border-radius: 8px;
            width: 100%;
            height: 100%;
            filter: brightness(50%);
            transition: .3s ease-out;

            &:hover {
                filter: brightness(100%);
                transform: scale(1.1);
                box-shadow: 6px 6px 7px grey;
            }

        }

    }
}

@media (min-width:720px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        #last {
            grid-column: 1/3;
        }
    }
}

@media (min-width:1200px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;

        #last {
            grid-column: 3;
        }
    }
}


.contact-container {
    @include container();
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;

    &::before {
        background-color: rgba(0, 0, 0, 0.70);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        @include title();
        color: white;
        margin-top: -10px;
        z-index: 3;
    }

    .whatsapp {
        z-index: 5;
        position: sticky;
        top: 500px;
        align-self: flex-end;

        &__img {
            width: 60px;
        }
    }
}

.contact-container .information-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__link {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .5rem;
        z-index: 3;
    }

    &__img {
        width: 40px;
    }

    &__text {
        color: white;
        font-size: 1.2rem;
        letter-spacing: .2rem;
    }
}


@mixin input-area {
    width: 300px;
    padding: 12px 20px 12px 40px;
    border: none;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    border-bottom: 2px solid gainsboro;
    background-position: 6px 9px;
    background-repeat: no-repeat;
    color: grey;

    &:focus {
        border: none;
    }
}

$inputs: (
    name: url("../img/name.png"),
    phone: url("../img/tel.png"),
    email: url("../img/email.png"),
    message: url("../img/message.png"),
);

@each $name,
$value in $inputs {
    .form-input__#{$name} {
        @include input-area;
        background-image: $value;
    }
}

.form {
    max-width: 440px;
    padding: 20px;
    background-color: white;
    z-index: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    &-input__send {
        border: none;
        padding: 5px;
        width: 130px !important;
        height: 60px;
        border-radius: 50px;
        background-color: #116d30;
        color: white;
        font-size: 1.8rem;
        letter-spacing: .3rem;
        cursor: pointer;

        &:hover {
            background-color: #2e7044;
            transition: ease 2s;
        }
    }
}


@media (min-width: 1200px) {
    .contact-container {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);

        &__title {
            grid-column: 1/5;
        }

        .information-list {
            gap: 3rem;
            grid-column: 1/3;

            &__img {
                width: 50px;
            }

            &__text {
                font-size: 2.2rem;
                letter-spacing: .2rem;
            }
        }

        .form {
            max-width: 600px;
            grid-column: 3/5;

            input,
            textarea {
                width: 500px;
            }

            #bottom {
                width: 200px;
            }
        }

        .whatsapp {
            grid-column: 5;
        }
    }
}

.networks {
    margin-top: 10px;
    background-color: rgb(26, 26, 26);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    span {
        margin-top: -10px;
        background-color: white;
    }

    &__title {
        font-size: 2.4rem;
        color: white;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;

        img {
            width: 50px;
            filter: invert(100%);

            &:hover {
                filter: invert(80%);
            }
        }
    }
}

.card__presentation {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 300px;
    color: crimson;
    margin-bottom: 30px;

    p {
        font-size: 1.3rem;
        color: gray;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
    }
}



.card__presentation:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container__presentation {
    padding: 2px 16px;
}

.opinions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;

    &__title {
        @include title();
        margin-top: -20px;

    }

    &__title2 {
        @include title();
        margin-top: 140px;
    }
}

#wp-widget-preview {
    margin-top: 40px;
    margin-bottom: 40px;
    background: none !important;
    font-size: 1.8rem;
    transition: .3s ease-out;

    a {
        font-size: 1.8rem;

        :hover{
        transform: scale(1);
        border: none;
        filter: none;
        }
    }

    :hover{
        transform: scale(1);
        border: none;
        filter: none;
    }
    
}

.casamientos {
    :hover {
        transform: scale(1.2);
        filter: drop-shadow(20px 5px 4px #414158);
    }
}