@mixin title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: crimson;
}

@mixin text {
    max-width: 500px;
    font-size: 1.3rem;
    font-weight: 500;
}

@mixin container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line {
    height: 3px;
    width: 50px;
    background-color: crimson;
    margin-bottom: 30px
}

/*-PRESENTATION-*/

.presentation-container {
    @include container();

    &__title {
        @include title();
    }

    &__text {
        @include text();
        margin-bottom: 20px;
    }

    &__img {
        display: none;
    }
}

/*-VIEW TABLET AND DESKTOP*/

@media (min-width:720px) {
    .presentation-container {
        margin-bottom: 30px;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 10px;
        grid-template-areas:
            'title title title title'
            'line line line line'
            'img img text text'
            'img img text text'
            'img img text text';

        &__title {
            grid-area: title;
        }

        &__img {
            grid-area: img;
            display: block;
            margin-right: 70px;
            background-color: rgba(220, 20, 60, 0.651);
            border: 2px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 300px;

        }

        &__text {
            grid-area: text;
            margin-right: 7px;
        }
    }

    #line1 {
        grid-area: line;

    }
}

/*-WORK METHOD-*/

.work-container {
    background-color: #ffe8cd;
    @include container();

    &__title {
        @include title();

    }

    &__text {
        @include text();
        margin-bottom: 30px;
    }
}

.way-container {
    @include container();

    &__title {
        @include title();
        width: 300px;
        font-size: 1.5rem;
    }
}

.way-article {
    @include container();

    &__img {
        height: 70px;
        margin-top: 50px;
    }

    &__title {
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 10px;
        color: crimson
    }

    &__text {
        @include text();
        max-width: 263px;
    }
}

/*-VIEW TABLET AND DESKTOP*/

@media (min-width:720px) {
    .way-container {
        margin-bottom: 30px;
        display: grid;
        gap: 1rem;
        column-gap: 2rem;
        justify-items: center;
        align-items: start;
        grid-template-areas:
            'tit tit tit tit'
            'lin lin lin lin'
            'int int id id'
            'int int id id'
            'des des eve eve'
            'des des eve eve';

        &__title {
            grid-area: tit;
        }

        #interview {
            grid-area: int;
        }

        #idea {
            grid-area: id;
        }

        #desing {
            grid-area: des;
        }

        #event {
            grid-area: eve;
        }
    }

    #line2 {
        grid-area: lin;
    }

}

@media (min-width:1200px) {
    .way-container {
        display: grid;
        column-gap: 3rem;
        justify-items: center;
        align-items: start;
        grid-template-areas:
            'tit tit tit tit'
            'lin lin lin lin'
            'int id des eve'
            'int id des eve';

        &__title {
            grid-area: tit;
        }

        #interview {
            grid-area: int;
        }

        #idea {
            grid-area: id;
        }

        #desing {
            grid-area: des;
        }

        #event {
            grid-area: eve;
        }
    }

    #line2 {
        grid-area: lin;
    }
}

.services-container {
    @include container();
    margin-bottom: 30px;

    &__title {
        @include title();
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media (min-width:720px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
    }
}

@media (min-width:1200px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10rem;
    }
}

.gallery-container {
    @include container();
    background-color: #ffe8cd;
    margin-bottom: 30px;

    &__title {
        @include title();
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .gallery-section {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        max-height: 350px;
        border: 5px inset rgb(243, 130, 153);
        position: relative;
        overflow: hidden;

        

        &__img {
            width: 100%;
            height: 100%;
            filter: brightness(50%);

            &:hover {
                filter: brightness(100%);
                transform: scale(1.1);
                transition: all ease-in-out .5s;
            }

        }

    }
}

@media (min-width:720px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        #last {
            grid-column: 1/3;
        }
    }
}

@media (min-width:1200px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;

        #last {
            grid-column: 3;
        }
    }
}

.contact-container {
    @include container();
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;

    &::before {
        background-color: rgba(0, 0, 0, 0.55);
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        @include title();
        color: white;
        margin-top: -10px;
        z-index: 3;
    }

    .whatsapp {
        z-index: 5;
        position: sticky;
        top: 500px;
        align-self: flex-end;

        &__img {
            width: 60px;
        }
    }
}

.information-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__link {
        margin-left: 3px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: .5rem;
        z-index: 3;
    }

    &__img {
        width: 40px;
    }

    &__text {
        color: white;
        font-size: 1rem;
    }
}



@mixin input-area {
    width: 300px;
    padding: 12px 20px 12px 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-position: 6px 9px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

$inputs: (
    name: url("../img/name.png"),
    phone: url("../img/tel.png"),
    email: url("../img/email.png"),
    message: url("../img/message.png"),
);

@each $name,
$value in $inputs {
    .form-input__#{$name} {
        @include input-area;
        background-image: $value;
    }
}

.form {
    z-index: 3;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    &-input__send {
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        background-color: #01486e;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            filter: invert(100%);
        }
    }
}


@media (min-width:1200px) {
    .contact-container {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);

        &__title {
            grid-column: 1/5;
        }

        .information-list {
            gap: 3rem;
            grid-column: 1/3;

            &__img {
                width: 50px;
            }

            &__text {
                font-size: 1.4rem;
            }
        }

        .form {
            grid-column: 3/5;

            input,
            textarea {
                width: 450px;
            }

            #bottom {
                width: 200px;
            }
        }

        .whatsapp {
            grid-column: 5;
        }
    }
}


.networks {
    margin-top: 10px;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    span {
        margin-top: -10px;
        background-color: white;
    }

    &__title {
        font-size: 1.3rem;
        color: white;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6rem;

        img {
            width: 50px;
            filter: invert(100%);

            &:hover {
                filter: invert(80%);
            }
        }
    }
}

.ir-arriba {
    z-index: 10;
	display:none;
	padding:10px;
	background:crimson;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}


