@mixin title{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
    color:crimson;
}

@mixin text{
    width: 360px;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .5px;
}

@mixin container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.line{
    height: 3px;
    width: 50px;
    background-color: crimson;
    margin-bottom: 30px
}

.presentation-container{
    @include container();
    &__title{
        @include title();
    }

    &__text{
        @include text();
        margin-bottom: 20px;
    }
}

.work-container{
    background-color: #ffe8cd;
    @include container();

    &__title{
        @include title();
    }

    &__text{
        @include text();
    }
}

.way-container{
    @include container();

    &__title{
        @include title();
        width: 300px;
        font-size: 1.5rem;
    }
}

.way-article{
    @include container();

    &__img{
        height: 70px;
        margin-top: 50px;
    }

    &__title{
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 10px;
        color: crimson
    }

    &__text{
        @include text();
    }
}

.services-container{
    @include container();

    &__title{
        @include title();
    }
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}