.frontPage{
    width: 100%;
    height: 500px;
    background-image: url('../../img/boda-emilia-y-miguel-luz-y-fuerza-parana18\ de\ marzo\ de\ 202318032023077202348.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}